<%= form_tag login_path do %>
  <ul class="login-list">
    <li><%= label_tag :email %></li>
    <li><%= text_field_tag :email %></li>
    <li><%= label_tag :password %></li>
    <li><%= password_field_tag :password %></li>
    <li><%= submit_tag "Log In", id:"submit" %></li>
  </ul>
<% end %>
