<%= render "layouts/nav" %>
<div class='garden-body'>
  <div class="current-weather">
    <h4>Current Weather: </h4>
    <h4>Current Temperature: <%= @current_temp %> F </h4>
    <%= image_tag("#{@current_forecast}.gif", :alt => "#{@current_forecast}") %>
  </div>
  <div class='main-heading'>
    <h1 class='garden-header'>Garden Name: <%= current_user.garden.name %></h1>
  </div>
  <div class="add_plant">
    <%= link_to "Add Plant", new_plant_path, class: 'btn btn-outline-primary btn-lg' %>
  </div>

  <% if current_user.garden.plants.count > 0 %>
  <div class='garden'>
    <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Plant Name:</th>
              <th>Species:</th>
              <th>Hours Until Watering:</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @plants.each do |plant| %>
              <tr class='plant' id='plant-<%= plant.id %>'>
                <td><%= link_to(plant.name, plant_path(plant), :class => "name") %></td>
                <td><%= plant.species %></td>
                <td><%= plant.hours_until_watering %></td>
                <td><%= link_to "Edit", edit_plant_path(plant) %></td>
                <td><%= button_to(water_plant_path(plant), method: :patch) do %>
                  <i class="fas fa-tint"></i>
                <% end %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
  <div class='tweet-option'>
    <% if current_user.garden.tweet %>
      <%= link_to 'Turn Tweets Off', stop_tweets_path, method: :patch %></td>
    <% else %>
      <%= link_to 'Turn Tweets On', start_tweets_path, method: :patch %>
    <% end %>
  </div>
</div>
