<%= render "layouts/nav" %>
<div class='garden-body'>
  <div class='main-heading'>
    <h1 class='garden-header'>My Gardens</h1>
  </div>

  <% if current_garden %>
    <div class='garden'>
      <h2><%= current_user.garden.name %></h2>
      <%= link_to "Add Plant", new_plant_path, class: 'btn btn-outline-primary btn-md' %>
      <div class="container">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Name</th>
              <th>Species</th>
              <th>Hours Until Watering</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @plants.each do |plant| %>
              <tr class='plant' id='plant-<%= plant.id %>'>
                <td><%= link_to plant.name, plant_path(plant) %></td>
                <td><%= plant.species %></td>
                <td><%= plant.hours_until_watering %></td>
                <td><%= link_to "Edit", edit_plant_path(plant) %></td>
                <td><%= link_to "Water Plant", water_plant_path(plant), method: :post %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% else %>
    <%= link_to "Add Garden", new_garden_path %>
  <% end %>
</div>
