<%= render "layouts/nav" %>
<div class="d-flex justify-content-between">
  <%= render "layouts/weather" %>
  <div class='garden'>
    <h2 class='garden-name'>Garden name: <%= current_user.garden.name %></h2>
    <div class="add_plant">
      <%= link_to "Add Plant", new_plant_path, class: 'btn btn-outline-primary btn-md' %>
    </div>
    <% if current_user.garden.plants.count > 0 %>
      <div class="container">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Plant Name:</th>
                <th>Plant Species:</th>
                <th>Hours Until Watering:</th>
                <th>Water Plants:</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @plants.each do |plant| %>
                <tr class='plant' id='plant-<%= plant.id %>'>
                  <td><%= link_to(plant.name, plant_path(plant), :class => "name") %></td>
                  <td><%= plant.species %></td>
                  <% if plant.hours_until_watering < 0 %>
                  <td class="red"><%= plant.hours_until_watering %></td>
                  <% elsif plant.hours_until_watering < 24%>
                  <td class="yellow"><%= plant.hours_until_watering %></td>
                  <% else %>
                  <td class="green"><%= plant.hours_until_watering %></td>
                  <% end  %>
                  <td><%= button_to(water_plant_path(plant), method: :patch) do %>
                    <i class="fas fa-tint"></i>
                  <% end %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    <% end %>
  </div>
</div>
