<%= render "layouts/nav" %>
<div class="form_container">
  <div class="form-group">
    <h4>CELERYbrate your new garden by creating a plant below:</h4>
  </div>
  <%= form_for @plant do |f| %>
    <% if @errors %>
      <div class="flash">
        <% @errors.messages.each do |message| %>
          <div class="alert alert-danger">
          <h6><%= "#{message[0].to_s} " "#{message[1].pop}" %></h6>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="form-group">
      <h5><%= f.label :name, "Plant Name:" %></h5>
      <%= f.text_field :name, placeholder: "Tom'satos", class: 'form-control' %>
    </div>
    <div class="form-group">
      <h5><%= f.label :species, "Plant Species:" %></h5>
      <%= f.text_field :species, placeholder: "Big Red", class: 'form-control' %>
    </div>
    <div class="form-group">
      <h5><%= f.label :frequency, "Frequency Plant Needs Watered:" %></h5>
      <%= f.number_field :frequency, placeholder: "24 (Please enter number in hours)", class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.submit "Create Plant", class: "btn btn-outline-primary btn-lg" %>
    </div>
  <% end %>
</div>
