<%= render "layouts/nav" %>

<div class='main-heading'>
  <h1>My Garden</h1>
</div>
<% @plants.each do |plant| %>
  <div class='plant' id='plant-<%= plant.id %>'>
    <ul>
      <li>Name: <%= plant.name %></li>
      <li>Species: <%= plant.species %></li>
      <li>Hours since watering: <%= plant.hours_since_watered %></li>
      <li>Hours until watering: <%= plant.hours_until_watering %></li>
      <li><%= link_to "Edit", edit_plant_path(plant) %></li>
      <li><%= link_to "Water Plant", water_plant_path(plant) %>
    </ul>
  </div>
<% end %>