<nav class="navbar navbar-expand-lg navbar-default menu" >
  <%= link_to image_tag("iwmp_logo.jpg", :alt => "I Wet My Plants Cartoon", :height => "150", :style => "border-radius: 50%;", class: 'd-inline'), plants_path, class: 'home-img-link'  %>
  <h1 class="logo_words d-inline">I Wet My Plants</h1>
  <%= link_to "Home", plants_path, class: 'home-link' %>
  <%= link_to 'Water All Plants', water_all_plants_path, method: :patch %>
  <span class='tweet-option'>
    <% if current_user.garden.tweet %>
      <%= link_to 'Turn Tweets Off', stop_tweets_path, method: :patch %>
    <% else %>
      <%= link_to 'Turn Tweets On', start_tweets_path, method: :patch %>
    <% end %>
  </span>
  <%= link_to 'Logout', logout_path, method: :delete %>
</nav>

