<nav class="navbar navbar-default menu" >
  <div class="container-fluid">
    <div class="navbar-header">
      <%= image_tag("iwmp_logo.jpg", :alt => "I Wet My Plants Cartoon", :height => "150", :style => "border-radius: 50%;") %>
      <h1 class="logo_words">I Wet My Plants</h1>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to 'Garden', plants_path %></li>
      <li><%= button_to 'Water All Plants', water_all_plants_path, method: :patch %></li>
      <li><%= link_to 'Logout', logout_path, method: :delete %></li>
    </ul>
  </div>
</nav>

<% if flash.any? %>
  <div class="flash">
    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>
  </div>
<% end %>
